<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="stylesheet" href="\staticfiles\css\estilos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZssN</title>
        
</head>
<body background="\staticfiles\img\zssn.png">
    <nav class="navbar navbar-expand-lg bg-black">
      </nav>
<section class="section2">
    <h1>ZssN</h1>
    <h2>Documentação</h2>
    <h2>API para cadastro de sobreviventes e inectados em um cenário Apocalíptico</h2>
    <h3>Como acessar as end-points</h3>
    <ul>
        <h3><li>Cadastrar sobreviventes:</li>
        <li>/sobreviventes/</li><br>
        <li>Atualizar local sobreviventes:</li>
        <li>/sobrevivente-local/<int:sobrevivente_id></li><br>
        <li>Sinalizar sobrevivente infectado/</li>
        <li>/marca-infectado/</li><br>
        <li>Cadastrar Itens:</li>
        <li>/itens/</li><br>
        <li>Inventario:</li>
        <li>/inventarios/</li><br>
        <li>Troca Itens:</li>
        <li>/troca-itens/</li><br>
        <li>Relatórios de porcentagem de infectados:</li>
        <li>/rel-porcentagem-infectados/</li><br>
        <li>Relatórios de porcentagem de não infectados:</li>
        <li>/rel-porcentagem-nao-infectados/</li><br>
        <li>Relatórios de pontos perdidos:</li>
        <li>/rel-pontos-perdidos/</li><br></h3>

    </ul>
</section>
    <footer>
        Feito por: Gleyson Wener<br>
        gleysonwener3@gmail.com<br>
        github.com/gleysonwener<br>
        linkedin.com/in/gleyson-wener-208b46230/
    </footer>
<section class="section3">

</section>
</body>
</html>